

.lay-main {
  width: 100%;
  height: 100%;
  clear: both;
}



.lay-bar {
  /* background: linear-gradient(to top, #313131, #ffffff),
    url("../../resource/img/다운로드.jpg")
    ; */
  background-blend-mode: multiply;
  filter: grayscale(100%);
  float: right;
  height: 100vh;
  width: 300px;
  transition: width 0.25s linear;
  padding: 7px 0 7px 20px;
  overflow: hidden;

  & > div{
    height: 100%;
    width: 100%;
    padding: 7px;
    overflow: hidden visible;

    .click{
      background-color: #d2d2eb;
      color: rgb(255, 255, 255);
    }
    ul{
      padding: 0px;
      list-style-type : none;
    }
   

    li {
      margin: 3px 0 3px 0;
      padding: 3px 5px 3px 5px;
      // height: 30px;

      &:hover {
        background-color: black;
        color:white;
      }
    }

    
  } 

}

.lay-container {
  /* display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(15, 1fr); */
  float: right;
  height: 100vh;
  width: calc(100% - 300px);
  transition: width 0.25s linear;
  position: absolute;
  z-index: 0;

  .lay-header {
    grid-column: 1 / 16;
    grid-row: 1;
    float: r;
    float: left; 
    position: absolute;
    z-index: 1;
    right: 0;
    .lay-bar-but {
      transition: all ease 0.25s;
      /* transform: rotate(180deg); */
      /* float: left; */
      /* width: 20px;
      height: 20px; */
    }
  } 
}




.lay-content {
  /* background-color: #f1ecec; */
  /* grid-column: 1 / 16;
  grid-row: 2/ 16; */
  height: 100%;
  width: 100%;
}

.lay-content-test {
  background-color: #c2c2c2;
  height: 20%;
  width: 20%;
}
