@keyframes blinker {
    0%{border-right: 2px solid #fff} 
    50%{border-right: 2px solid #000} 
    100%{border-right: 2px solid #fff} 
}
  
.typing{
    width: 100%;
    height: 100vh;
    transition: height 0.7s linear;
    // font-size: medium;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // 


    .typing-tx {
      // pre{
      //   line-height: 5px;
      // }
      white-space: pre-wrap;
      margin: 10px 0 10px 0;
      line-height: 40px;
      text-align: center;
      font-size: xx-large;
      font-weight: 700;

    }
  
    &-line{
      animation: blinker 1s linear infinite;
      font-size: inherit;
    }
    
}