@keyframes blinker {
    0%{border-right: 2px solid #fff} 
    50%{border-right: 2px solid #000} 
    100%{border-right: 2px solid #fff} 
}
  
.typing{
    width: 100%;
    height: 100vh;
    transition: height 0.7s linear;
    // font-size: medium;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // 


    .typing-tx {
      // pre{
      //   line-height: 5px;
      // }
      white-space: pre-wrap;
      margin: 10px 0 10px 0;
      line-height: 40px;
      text-align: center;
      font-size: xx-large;
      font-weight: 700;

    }
  
    &-line{
      animation: blinker 1s linear infinite;
      font-size: inherit;
    }
    
}

.typography{
  // color: rgb(241, 66, 66) !important;
  // &:first-letter { color: rgb(114, 89, 89) !important; }
  font-size: larger ;  
  & span{ font-size: larger ;  }

  // &:hover{
     
    
  //   // background: linear-gradient(to right, #f00 10%, #00f 15%, #0f0 35%, #f0f 50%, #0ff 60%, #ff5800 75%, #f05 87%, #ff7fd3 95%, #326d18 100%);

  //   // // -webkit-background-clip: text;
  //   // -webkit-text-fill-color: transparent;
  // }

}